.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #F8FAFC;
  border-radius: 20px;
  padding: 20px;
  height: auto;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 35px;
    font-size: larger;
  }

  li {
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.1s;

    a {
      display: block;
      text-decoration: none;
      color: black;
      padding: 10px 14px;
      border-radius: 8px; /* ensures hover and active match */
      width: 90%;
      transition: background 0.3s;

      /* Hover effect */
      &:hover {
        background-color: #9CA3AF;
      }

      /* Active route highlight */
      &.active {
        background-color: #9CA3AF;
      }

      &:visited {
        color: black;
      }
    }
  }
}
