<div class="header-bar">
<div class="left-section">
  <h1>Categories</h1>
  </div>

  <div class="right-section">
    <!-- Add button: Admin or Manager -->
    <button 
      (click)="onAdd()" 
      [disabled]="role !== 'Admin' && role !== 'Manager'">
      ➕ Add Category
    </button>
    </div>
</div>
    <p *ngIf="message" style="color: green;">{{ message }}</p>

  <!-- Add/Edit Form -->
  <div *ngIf="showForm">
    <app-add-category
      [existingCategories]="categories"
      [category]="editingCategory"
      (formSubmit)="onFormSubmit($event)"
      (closeForm)="onFormClose()">
    </app-add-category>
  </div>

  <div class="tb">
    <table>
      <tr>
        <th>Category Name</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <tr *ngFor="let c of categories">
        <td>{{ c.name }}</td>

        <!-- Edit button: Admin or Manager -->
         
        <td>
          <button class="edit-btn" 
            (click)="onEdit(c)" 
            [disabled]="role !== 'Admin' && role !== 'Manager'">
            ✏️
          </button>
        </td>
        

        <!-- Delete button: Admin only -->
        <td>
          <button class="delete-btn"
            (click)="onDelete(c)" 
            [disabled]="role !== 'Admin'">
            🗑️
          </button>
        </td>
      </tr>
    </table>
  </div>
