<div class="header-bar">
    <div clas="title-section">
        <h1>Products</h1>
       
    </div>
    <div class="search-section">
    <input type="text" placeholder="search"/>
    <button>🔍</button>
    </div>
     <button (click)="onButtonClick()">+Add</button>
     <!-- <p *ngIf="message" class="success">{{message}}</p> -->
</div>

 <div *ngIf="showForm">
    <app-add-product-dialog (submitProduct)="onFormSubmit($event)" (closeForm)="onFormClose()"></app-add-product-dialog>
  </div>

<table>
    <tr>
        <th>Product Code</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>IsActive</th>
        <th>Category Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    <tr *ngFor= "let s of products">
    <td>{{s.productCode}}</td>
    <td>{{s.productName}}</td>
    <td>{{s.price}}</td>
    <td>{{s.isActive}}</td>
    <td>{{s.categoryName}}</td>
      <td>
      <button class="edit-btn" (click)="onEdit(s)">✏️</button>
    </td>
    <td>
      <button class="delete-btn" (click)="onDelete(s)">🗑️</button>
    </td>
    </tr>

</table>