.cards {
  padding: 30px;

  h1 {
    text-align: left;
    margin-bottom: 30px;
    font-size: 26px;
    color: #222;
  }

  .data {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
  }

  .card {
    background-color: #2b2b2b;
    border-radius: 12px;
    border-color: #111;
    padding: 25px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    h2 {
      margin-bottom: 10px;
      font-size: 18px;
      color: #555;
    }

    p {
      font-size: 70px;
      font-weight: 700;
      color: #111;
    }

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    }
  }

  .total-products {
    font-size: 20px;
   border: 1px solid black;
   border-radius: 10px;
   background-color:#9CA3AF;
  }
    .data p
    {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
      font-weight: 700;
      color: #111; 
    }

    .data h2{
        display: flex;
        align-items: center;
        justify-content: center;
    }

  .active-products {
    font-size: 20px;
     border: 1px solid black;
   border-radius: 10px;
   background-color:#9CA3AF;
  }

  .totalcategories {
    font-size: 20px;
     border: 1px solid black;
   border-radius: 10px;
   background-color:#9CA3AF;
  }
}
